# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [2]:
import numpy as np
import pandas as pd

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [4]:
# a = 


a=pd.Series([100,200,300,400])

Print a, and data type

In [5]:
print(a)
print(type(a))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [6]:
print(a[2])

300

What are the values of index for series a?

In [11]:


print(a.index)

RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [12]:


a.index=['c','a','b','d']

Access the value in the series with index 'd'

In [13]:

print(a['d'])

400

Sort the values wrt to the index and print it

In [14]:

print(a.sort_index)

<bound method Series.sort_index of c    100
a    200
b    300
d    400
dtype: int64>

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [16]:
 b = pd.Series([800,450,100],index=['e','f','g'])

Append b series at the end of a series

In [17]:
 a =pd.concat([a,b])

In [18]:
#print a again after appending b into it



print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [21]:
a = a.sort_values(ascending=False)
print(a.index)

Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [24]:
df = pd.DataFrame(a)

print(df)

     0
e  800
f  450
d  400
b  300
a  200
c  100
g  100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [25]:
print(df.shape)

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [26]:
# yep its same as the series.

print(df.index)

Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [27]:
print(df.head())
print(df.tail())

     0
e  800
f  450
d  400
b  300
a  200
     0
d  400
b  300
a  200
c  100
g  100

Rename the column of the dataframe as 'points'

In [29]:

df.rename(columns={0:'points'})

   points
e     800
f     450
d     400
b     300
a     200
c     100
g     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [31]:
#Create fruits array
import random
# fruits =
fruits_array = random.choices(['orange', 'mango', 'apple'], k=7)
print(fruits_array)

['mango', 'apple', 'apple', 'mango', 'orange', 'apple', 'mango']

In [39]:
#Create series fruits out of fruits array

fruits =pd.Series(fruits_array)


print(fruits)

0     mango
1     apple
2     apple
3     mango
4    orange
5     apple
6     mango
dtype: object

Change the index of fruits to the index of dataframe df

In [40]:

fruits.index=df.index

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [43]:

df['fruits']=fruits
print(df.head())

     0  fruits
e  800   mango
f  450   apple
d  400   apple
b  300   mango
a  200  orange

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [47]:
 d1 = pd.DataFrame({'city' : ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali' ],
                    'Temperature' : [15, 22, 20, 26,-2]})

Print(d1)

In [48]:
print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [49]:

print(d1.shape)

(5, 2)

Set city = d1['city']

In [50]:


city=d1['city']

print city <br>
What is the type of city.

In [52]:

print(city)
print(type(city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [53]:
d2 = pd.DataFrame({'city':['Bengalaru','Coimbatore','Srirangam','Pondicherry'],
'Temperature' : [24,35,36,39]})

print the shape of this dataframe

In [54]:

print(d2.shape)

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [60]:
d3 = pd.concat([d1,d2],ignore_index=True)
print(d3)

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengalaru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [72]:

d3[d3['Temperature']<20]['city']

0    Chandigarh
4        Manali
Name: city, dtype: object

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [73]:

d3[d3['Temperature']>=35]['city']

6     Coimbatore
7      Srirangam
8    Pondicherry
Name: city, dtype: object

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [80]:
# write function here

def is_ut(x):
    l=['Chandigarh','Pondicherry','Delhi']
#     # write code below
    if x in l:
        return True
    else:
        return False
d3['is_ut'] = d3['city'].apply(is_ut)

In [81]:
 print (d3)

          city  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
5    Bengalaru           24  False
6   Coimbatore           35  False
7    Srirangam           36  False
8  Pondicherry           39   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [82]:
# write function here


def c_to_f(x):
    f=(x*(9/5))+32
    return f

print(c_to_f(10))

50.0

In [17]:
# check function c_to_f(10)

In [86]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'

d3['temp_farenheit']=d3['Temperature'].apply(c_to_f)
print(d3)

          city  Temperature  is_ut  temp_farenheit
0   Chandigarh           15   True            59.0
1        Delhi           22   True            71.6
2       Kanpur           20  False            68.0
3      Chennai           26  False            78.8
4       Manali           -2  False            28.4
5    Bengalaru           24  False            75.2
6   Coimbatore           35  False            95.0
7    Srirangam           36  False            96.8
8  Pondicherry           39   True           102.2

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [87]:

ut_cities = d1[d1['city'].str.lower().isin(['chandigarh', 'pondicherry', 'delhi'])]
print(ut_cities)

         city  Temperature
0  Chandigarh           15
1       Delhi           22

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [90]:


print(d1[(d1['Temperature'] * 9/5) + 32 > 90])

Empty DataFrame
Columns: [city, Temperature]
Index: []

Select only the first three rows of the dataframe d1.

Select all the rows and last two columns in the dataframe.

In [91]:


print(d1.iloc[:, -2:])

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

## Groupby

In [24]:
# Create a dataframe using dictionary of your choice

# data =

In [21]:
# Use Groupby of single column with aggregate sum()

In [22]:
# Use Groupby of single column with aggregate count()

In [23]:
# Use Groupby of single column with aggregate min() and max()

In [25]:
# Use Groupby of any 2 columns with aggregate mean()

In [26]:
# Use Groupby of any 2 columns with aggregate min() and max()

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [19]:
# a =

print a

What is the len of a?

What is the type of a?